<div class="container admin-index">
	<%- include ../flash%>
	
	<h2>Users List</h2>

	<table class="table table-hover">
		<tr>
			<td></td>
			<td>Name</td>
			<td>Email</td>
			<td>Organizaton</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<% _.each(users,function (user, index) {  %>
			<tr data-id="<%= user.id %>" data-model="user">
				<td>
					<% if(user.online) { %>
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					<% }else{ %>
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					<% } %>
				</td>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td><%= user.organization %></td>
				<td>
					<% if(user.status === 'user'){ %>
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<% } %>
					<% if(user.status === 'admin'){ %>
						<span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
					<% } %>
				</td>
				<td><a href="/admin/show/<%= user.id %>" class="btn btn-sm btn-primary">show</a></td>
				<td><a href="/admin/edit/<%= user.id %>" class="btn btn-sm btn-warning">edit</a></td>
				<td><form method="POST" action="/admin/destroy/<%= user.id %>">
					<input type="submit" class="btn btn-sm btn-danger" value="destroy">
					<input type="hidden" name="_csrf" value="<%= _csrf %>">
				</form></td>
			</tr>
		<%	})%>
	</table>
</div>

