<div class="container vote-index">
	
	<%- include ../flash%>

	<h2>Vote List</h2>


	<table class="table table-hover">
		<tr>
			<td>Create By</td>
			<td>Email</td>
			<td>Vote Name</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<% _.each(votes,function (vote, index) {  %>
			<tr data-id="<%= vote.id %>" data-model="vote">
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td><%= vote.name %></td>
				<td><a href="/vote/show/<%= vote.id %>" class="btn btn-primary btn-sm">show</a></td>
				<td><a href="/item/index?voteId=<%= vote.id %>" class="btn btn-default btn-sm">manage items</a></td>
				<td><form method="POST" action="/vote/destroy/<%= vote.id %>">
					<input type="submit" class="btn btn-sm btn-danger btn-block" value="destroy">
					<input type="hidden" name="_csrf" value="<%= _csrf %>">
				</form></td>
			</tr>
		<%	})%>
	</table>
</div>

<nav>
	<ul class="pager">
		<% if(isPrevious){ %>
			<li><a href="/vote/index?page=<%= page-1 %>">previous</a></li>
		<% } %>
		<% if(isNext){%>
			<li><a href="/vote/index?page=<%= page+1 %>">next</a></li>
		<% } %>
	</ul>
</nav>


