<div class="container item-index">
	
	<%- include ../flash%>

	<h2>Vote Name: <%= vote.name %></h2>

	<table class="table table-hover">
		<tr>
			<td></td>
			<td>Name</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>	
		</tr>
		<% _.each(items,function (item, index) {  %>
			<tr data-id="<%= item.id %>" data-model="item">
				<td><%= index+1 %></td>
				<td><p class="item-index-title"><%= item.title %></p></td>
				<td><a href="/item/show/<%= item.id %>" class="btn btn-sm btn-primary">show</a></td>
				<td><a href="/item/edit/<%= item.id %>" class="btn btn-sm btn-warning">edit</a></td>
				<td><form method="POST" action="/item/destroy/<%= item.id %>">
					<input type="submit" class="btn btn-sm btn-danger" value="destroy">
					<input type="hidden" name="_csrf" value="<%= _csrf %>">
				</form></td>
				<td><form method="POST" action="/vote/addItemToVote/<%= item.id %>">
					<input type="submit" class="btn btn-sm btn-default" value="addItem">
					<input type="hidden" name="_csrf" value="<%= _csrf %>">
				</form></td>
			</tr>
		<%	})%>
	</table>
</div>

<nav>
	<ul class="pager">
		<% if(isPrevious){ %>
			<li><a href="/vote/itemList/<%= vote.id %>?page=<%= page-1 %>">previous</a></li>
		<% } %>
		<% if(isNext){%>
			<li><a href="/vote/itemList/<%= vote.id %>?page=<%= page+1 %>">next</a></li>
		<% } %>
	</ul>
</nav>